<body class="devise">
<%= render '/layouts/header' %>

<div class="login-page">
<div class="newQuestion">
<div class="formRegistration">
  
      <h1>お問い合わせ</h1>

      <form class="login-form">
      <%= render 'form', question: @question %>
      </form>

  </div>
</div>
</div>
