<body class="introduction-new">
<%= render '/layouts/header' %>
  <div class="sign-up-main ">

  
      <h2>お問い合わせ</h2>
      <p>1人1人に丁寧な対応を心がけております。</p>
      <p>まだ会員でない方もこちらからお問い合わせください</p>

  
      <%= render 'form', question: @question %>
  </div>

<%= render '/layouts/footer' %>
</body>