<%= form_with(model: [@introduction,@progress], local: true ) do |form| %>
 
 <div class="fields">


  <div class="field">
    <%= form.label :進捗度,class: 'label'  %>
    <%= form.text_field :step,class: 'form',value:'1' %>
  </div>

  
  <div class="actions">
    <%= form.submit '進捗を更新する',data: { confirm: '更新しますか？' },class: 'submit' %>
  </div>
<% end %>