 <div class="mainHeader">
    <ul>
    <% if provider_signed_in? %>
      
      <li class="toproviderLogout">
        <span>
          <% if current_provider.email == "tanachu_78@yahoo.co.jp" || current_provider.email == "yosuke.tanaka.78@gmail.com"  %>
            <%= link_to '管理者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' },class:"text-decoration-none toLogout" %>
          <% else %>
            <%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' },class:"text-decoration-none toLogout" %>
          <% end %>
        </span>
      </li> 
      <li><%= current_provider.email %></li>
      
    
    <% end %>

    </ul>
  </div>