
<body class="complete">
  <div class="completeArea">
    <div class="logo">
    <%= image_tag "logo.jpg",class:"completeLogo" %>
    </div>

    <div>
    <h1 class="complete text-center">新しく事業者を招待しました！</h1>
    </div>

    <div class="toTop">
    <%= link_to "< 管理者ページに戻る", "/works",class:"button" %>
    </div>
  </div>
</body>