<body class="complete">
  <div class="completeArea">
    <div class="logo">
    <%= image_tag "logo.jpg",class:"completeLogo" %>
    </div>

    <div>
    <h1 class="complete text-center">退会手続きが完了しました。</h1>
    <p class="text-center">パラキャリをご利用いただきありがとうございました。</p>
    <p class="text-center">またのご利用をお待ちしております。</p>
    </div>

    <div class="toTop">
    <%= link_to "< トップへ戻る", "/tops/index",class:"button" %>
    </div>
  </div>
</body>