<!--以下をコピーして使用してください-->



  
  <body>
  
  <%= render '/layouts/header' %>
  

    <main>
      <section class="top">
      <div class="lg:flex">
        <div class="lg:w-7/12">
          <h1 class="font-extrabold text-white mt-10 pt-24 pl-6 pb-3 sm:text-xl  lg:text-5xl lg:m-0 lg:pl-20 lg:pt-56 lg:pb-0 xl:pt-72">あなたの口コミが<span style="font-size:1.5em;"><ruby>複<rt>・</rt>業<rt>・</rt></ruby></span>になる</h1>
          <ul class="list-none text-white font-bold pl-6 pb-20  lg:pb-36 lg:text-2xl lg:pl-20 lg:pt-12 xl:pb-48">
            <li class="lg:text-2xl text-xs">営業一切不要！</li>
            <li class="lg:text-2xl text-xs">口コミで見込み客の紹介、あとは丸投げでOK！</li>
          </ul>
        </div>
        <div class="lg:w-5/12 m-auto">
          <iframe class="lg:w-96 lg:h-80 lg:pt-20 m-auto pb-6" src="https://www.youtube.com/embed/AWOnt-GZaG4" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      </section>
      <section class="bg-white mb-16">
        <h1 class="text-yellow-500 text-center lg:font-light font-bold text-2xl lg:text-4xl lg:pt-28 py-8">こんなお悩みありませんか？</h1>
        <div class="flex justify-center lg:mt-12">
          <div class="lg:w-80 lg:h-80 w-40  lg:mr-16">
           
          </div>
          <div>
            <ul class=" text-yellow-500 lg:font-light font-normal lg:text-2xl  lg:ml-16 lg:pt-8">
              <li class="text-shadow-md">ネットで稼ごうと思っても、</li>
              <li class="lg:mb-8 lg:ml-20 mb-3">特にスキルは持ってないし...</li>
              <li class="">あまり時間はかけられないので、</li>
              <li class="lg:mb-8 lg:ml-20 mb-3">手軽にできるものがいいけど...</li>
              <li class="">副業で稼ぎたいけど、</li>
              <li class="lg:ml-20">リスクはあまりかけたくない...</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="bg-white mb-20">
        <div class="lg:mr-auto lg:ml-auto lg:w-40 w-20 m-auto pb-10">
          
        </div>
        <h1 class="mb-5 text-yellow-500 text-center lg:font-light font-bold text-xl lg:text-2xl lg:text-4xl lg:mb-0 lg:mt-24">そのお悩み、パラキャリで解決できます！</h1>
        <div class="lg:flex justify-center lg:mt-20 lg:mb-14 text-gray-700">
          <div class="lg:border lg:shadow-md h-60 lg:w-80 lg:h-80 lg:rounded-3xl p-6 leading-7">
            
            <h1 class="text-2xl lg:text-2xl text-center font-bold pb-3 pt-4">費用は一切不要！</h1>
            <p class="mb-10">案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは<span class="text-red-500" style="font-size: 1.2em;">金銭的なリスク</span>がなく利用できる案件も多数取り扱っているため、気軽に紹介できます。</p>
            <hr class="mt-10 lg:hidden" width="100%">
          </div>
          <div class="mt-40 lg:border lg:shadow-md h-60 lg:w-80 lg:h-80 lg:rounded-3xl lg:mt-0 lg:ml-12 lg:mr-12 p-6 leading-7">
           
            <h1 class="text-3xl lg:text-2xl text-center font-bold lg:whitespace-nowrap pb-3 pt-4">高報酬案件を厳選</h1>
            <p><span class="text-red-500" style="font-size: 1.2em;">90%以上</span>の案件が紹介報酬単価、<span class="text-red-500" style="font-size: 1.2em;">3万円以上</span>のものを扱っています。そのため、どのサービスを紹介しても高報酬をゲットできます。</p>
            <hr class="mt-10 lg:hidden" width="100%">
          </div>
          <div class="mt-36 lg:border lg:shadow-md h-72 lg:w-80 lg:h-80 lg:rounded-3xl lg:mt-0 p-6 leading-7">
           
            <h1 class="text-2xl text-center font-bold pb-3">いきなり紹介！<br>いきなり報酬獲得が可能！</h1>
            <p>通常、企業に紹介をして紹介料を受け取る場合、業務委託契約を結ぶ必要があったり、色々と手続きが面倒なことが多いのですが、パラキャリをご利用いただく方は、そういった手続き・契約の<span class="text-red-500" style="font-size: 1.2em;">やりとりは一切不要！</span>好きなタイミングで好きな時に紹介して報酬をゲットできちゃいます！</p>
          </div>
        </div>
        <div id="pcStyle" class="hidden lg:block text-center ">
          <h2 class="text-yellow-500 font-light lg:text-3xl lg:pb-3">ほかにもメリットたくさん！</h2>
          <div class="text-left inline-block">
            <ul class="lg:ml-1 text-gray-700">
              <li class="lg:mt-5 lg:text-xl">・スマホ一台で始められる！</li>
              <li class="lg:mt-4 lg:text-xl">・豊富な案件と信頼できる報酬獲得実績！</li>
              <li class="lg:mt-4 lg:mb-16 lg:text-xl">・紹介した人の状況をリアルタイムで確認できる！</li>
            </ul>
          </div>
        </div>
        <div id="smartStyle" class="lg:hidden text-center  mx-5 mt-40 mb-10 py-7">
          <h2 class="text-2xl pb-7">パラキャリには<br>ほかにもメリットたくさん！</h2>
          <div class="text-left inline-block">
            <div class="">
              <div class="flex">
                <p></p>
                <p class="my-auto ml-3 text-xl">スマホ一台で始められる！</p>
              </div>
              <div class="flex mt-5">
                <p></p>
                <p class="my-auto ml-3 text-xl">豊富な案件と<br>信頼できる報酬獲得実績！</p>
              </div>
              <div class="flex mt-5">
                <p></p>
                <p class="my-auto ml-3 text-xl ">紹介した人の状況を<br>リアルタイムで確認できる！</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-yellow-50 mb-20 pb-12">
        <h1 class="text-red-400 lg:font-light font-bold text-center lg:text-4xl lg:pt-20 lg:pb-10 pt-10 text-2xl ">ノーリスクでOK!</h1>
        <div class="lg:flex lg:w-7/12 lg:m-auto">
          <div class="lg:w-6/12 pt-10">
            <h1 class="text-yellow-500 lg:text-2xl lg:block hidden font-bold text-center pb-3">顧客リスクがゼロ</h1>
            <div class="lg:hidden block w-60 m-auto">
              
            </div>
            <div class=" 2xl:w-6/12 xl:w-10/12 lg:m-auto w-10/12 m-auto leading-loose lg:pb-0 pb-10  font-normal text-gray-600">
            案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは金銭的なリスクがなく利用できる案件も多数取り扱っているため、気軽に紹介できます。また案件掲載主は全て法人に限定しているので、報酬支払いも安心！
            </div>
          </div>
          <div class="lg:w-80 lg:h-80 lg:block hidden   m-auto">
            
          </div>
        </div>
      </section>
      <section class="mb-20 text-gray-700">
        <h1 class="text-yellow-500 lg:font-light font-bold text-center my-5 text-lg lg:pt-10 lg:pb-5 lg:text-4xl text-2xl">豊富な高単価案件も！</h1>
        <div class="my-10 lg:flex justify-center lg:mt-10 lg:mb-14">
          <div class="border m-5  h-60 shadow-md lg:m-0 lg:w-64 w-72 m-auto mb-8 lg:h-64 rounded-3xl">
            <div class="border-b border-dashed w-full m-auto">
              <h1 class="text-center font-bold p-5">転職先企業紹介＆転職サポート</h1>
            </div>
            <div class="border-b border-dashed w-full m-auto">
              <p class=" p-6">転職もしくは就職をしたい方をご紹介ください。現在フリーター・無職の方でもOKです。</p>
            </div>
            <div class="w-full m-auto">
              <p class="lg:pt-5 p-3 text-center">報酬：紹介フィーの２０％</p>
            </div>
          </div>
          <div class="border m-5 h-60 shadow-md lg:m-0 lg:w-64 w-72 m-auto mb-8 lg:h-64 rounded-3xl lg:ml-12 lg:mr-6">
            <div class="border-b border-dashed w-full m-auto">
              <h1 class="text-center font-bold p-5">補助金・助成金の申請サポート</h1>
            </div>
            <div class="border-b border-dashed w-full m-auto">
              <p class=" p-6">補助金・助成金の申請のサポートをさせていただける方を紹介してください。</p>
            </div>
            <div class="w-full m-auto">
              <p class="lg:pt-5 pt-6 lg:pl-2 text-center">報酬：申請サポート手数料の２０％</p>
            </div>
          </div>
          <div class="border m-5 h-60 shadow-md lg:m-0 lg:w-64 w-72 m-auto mb-8 lg:h-64 rounded-3xl lg:ml-6 lg:mr-12">
            <div class="border-b border-dashed w-full m-auto">
              <h1 class="text-center font-bold p-5">賃貸物件紹介</h1>
            </div>
            <div class="border-b border-dashed w-full m-auto">
              <p class=" p-6">引越しする方をご紹介ください。 ネットに載ってる物件や未公開物件を安くご案内します。</p>
            </div>
            <div class="w-9/12 m-auto">
              <p class="lg:pt-5 pt-3 text-center">報酬：家賃の５０％</p>
            </div>
          </div>
          <div class="border m-5 h-60 shadow-md lg:m-0 lg:w-64 w-72 m-auto mb-8 lg:h-64 rounded-3xl">
            <div class="border-b border-dashed w-full m-auto">
              <h1 class="text-center font-bold p-5">火災保険申請サポート</h1>
            </div>
            <div class="border-b border-dashed w-full m-auto">
              <p class=" py-9 px-6">プロによる物件の無料調査を受けたいお客様をご紹介ください。</p>
            </div>
            <div class="w-10/12 m-auto">
              <p class="lg:pt-5 pt-3 text-center">報酬：１件あたり約１０万円</p>
            </div>
          </div>
        </div>
        <div class="lg:pt-8">
          <%= link_to "案件をもっとみる" ,"/post/index",class: 'block text-1xl font-bold text-center text-white bg-blue-600 lg:w-6/12 w-10/12 min-w-300 m-auto lg:py-3 py-1 rounded-3xl' %>
        </div>
      </section>
      <section class="text-gray-700">
        <h1 class="text-yellow-500 lg:font-light font-bold lg:text-4xl text-2xl text-center lg:pt-20 pb-5 ">報酬獲得までの流れ</h1>
        
          <div class="lg:flex justify-center lg lg:mb-8">
            <div class="border   lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72  m-auto  rounded-3xl lg:mb-10">
              <h1 class="text-center font-bold pt-5  ">STEP.1　会員登録</h1>
              <div class="w-11/12  m-auto lg:pb-0 pb-8">
                <p>会員登録して紹介したい案件を見つける
                ※その際にパラキャリ公式LINEにも登録！</p>
              </div>
            </div>
            <div class="lg:hidden  w-20 m-auto block py-3">
             
            </div>
            <div class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto rounded-3xl lg:ml-12 lg:mr-6">
              <h1 class="text-center font-bold pt-5">STEP.2　知人に紹介</h1>
              <div class="w-11/12 m-auto lg:pb-0 pb-8">
                <p>知人や友人に紹介。知人が詳細をご希望されたら掲載主から連絡が入ると伝える</p>
              </div>
            </div>
            <div class="lg:hidden  w-20 m-auto block py-3">
            
            </div>
            <div class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto rounded-3xl lg:ml-6 lg:mr-12">
              <h1 class="text-center font-bold pt-5">STEP.3　情報入力</h1>
              <div class="w-11/12 m-auto lg:pb-0 pb-8">
                <p>パラキャリに顧客口コミ情報(お名前、電話番号、口コミ内容)を入力</p>
              </div>
            </div>
            <div class="lg:hidden  w-20 m-auto block py-3">
            
            </div>
            <div class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto  rounded-3xl">
              <h1 class="text-center font-bold pt-5">STEP.4　報酬発生</h1>
              <div class="w-11/12 m-auto lg:pb-0 pb-8">
                <p>掲載主から紹介先に連絡が入り、契約になれば報酬発生！</p>
              </div>
            </div>
          </div>
      </section>

      <section class="2xl:pb-16 xl:pb-6 text-gray-700">
        <h1 class="text-yellow-500 lg:font-light font-bold text-4xl  text-center lg:pt-20 pt-24 lg:pb-10 pb-3 ">ご利用者の声</h1>
        <div class="lg:flex lg:w-9/12 m-auto pt-10">
          <div class=" lg:w-3/12 h-36 mb-10">
            <div class="w-36 h-36 m-auto ">
              <div class="w-24 h-24 m-auto lg:pt-3">
                
                <p class="text-center">27歳 男性</p>
              </div>
            </div>
          </div>
          <div class="border shadow-md text-sm lg:w-9/12 lg:h-36 w-10/12 h-64 m-auto  rounded-3xl leading-relaxed">
            <div class=" w-11/12 m-auto 2xl:pt-9 xl:pt-3 pt-4">
            同僚に教えてもらってパラキャリに登録しました。この不安定な世の中、会社の収入だけに頼るのはリスクだと思い、今までに様々な副業に挑戦しました。ただ会社の仕事はかなりハードで、ヘトヘトで家に帰ってから副業をするのはとても大変で結局今まで１円も稼ぐことができませんでした。しかしこのサイトはお客様への説明などの手間のかかることは不要で、見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも初月から１０万円以上稼ぐことができました。
            </div>
          </div>
        </div>
        <div class="lg:flex lg:w-9/12 m-auto lg:pt-10 pt-20">
          <div class=" lg:w-3/12 h-36 mb-10">
            <div class="w-36 h-36 m-auto ">
              <div class="w-32 h-32 m-auto lg:">
           
                <p class="text-center">34歳 女性</p>
              </div>
            </div>
          </div>
          <div class="border shadow-md text-sm lg:w-9/12 lg:h-36 w-10/12 h-40 m-auto rounded-3xl leading-relaxed ">
            <div class=" w-11/12 m-auto 2xl:pt-12 xl:pt-8 pt-3">
            コロナでパートの収入が減って外出もできない中で不安な毎日でしたが、パラキャリで副業することで金銭的な余裕が生まれました。今ではパートを卒業して、パラキャリだけで自宅にいながら収入を得ることができるので、子供との時間を今まで以上にとることができて心にも余裕が生まれました。
            </div>
          </div>
        </div>
        <div class="lg:flex lg:w-9/12 m-auto pt-10 pb-20">
          <div class=" lg:w-3/12 h-36 mb-10">
            <div class="w-36 h-36 m-auto ">
              <div class="w-28 h-28 m-auto lg:">
              
                <p class="text-center">62歳 男性</p>
              </div>
            </div>
          </div>
          <div class="border shadow-md text-sm lg:w-9/12 lg:h-36 w-10/12 h-40 m-auto  rounded-3xl leading-relaxed">
            <div class=" w-11/12 m-auto pt-3 xl:pt-8 2xl:pt-12">
            セカンドライフを見据えてもう少し収入を増やしたいと思ってましたが、特別な技術もパソコンスキルもなく副業は難しいと思っておりました。ただパラキャリはそんな私でも凄く簡単に使えました。困っている知人を紹介するだけで感謝もされるし収入もしっかりと稼げるので遣り甲斐を感じております。
            </div>
          </div>
        </div>
      </section>

      <section class="text-gray-700 pt-20" id="faq">
        <h1 class="text-yellow-500 font-light text-4xl text-center  pb-10">よくあるご質問</h1>

        <div class="lg:w-8/12 w-9/12 m-auto text-xl     border-black pt-5 pb-10">
          <div class="border-b  border-dashed border-black pb-5">
          <span class="text-yellow-500">Q.</span>自分の案件でも報酬は発生しますか？
          </div>
          <div class="pt-5 lg:text-xl text-lg leading-relaxed">
          <span class="text-yellow-500">A.</span>ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。
          </div>
        </div>
        <div class="lg:w-8/12 w-9/12 m-auto text-xl   border-black pt-10 pb-10">
          <div class="border-b  border-dashed border-black pb-5 ">
          <span class="text-yellow-500">Q.</span>自分の案件でも報酬は発生しますか？
          </div>
          <div class="pt-5 lg:text-xl text-lg leading-relaxed">
          <span class="text-yellow-500">A.</span>ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。
          </div>
        </div>
        <div class="lg:w-8/12 w-9/12 m-auto text-xl  border-black pt-10 pb-10">
          <div class="border-b  border-dashed　border-black ">
          <span class="text-yellow-500">Q.</span>自分の案件でも報酬は発生しますか？
          </div>
          <div class="pt-5 lg:text-xl text-lg leading-relaxed">
          <span class="text-yellow-500">A.</span>ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。
          </div>
        </div>
        <div class="lg:w-8/12 w-9/12 m-auto text-xl  pt-10 pb-10">
          <div class="border-b  border-dashed pb-5">
          <span class="text-yellow-500">Q.</span>自分の案件でも報酬は発生しますか？
          </div>
          <div class="pt-5 lg:text-xl text-lg leading-relaxed">
          <span class="text-yellow-500 ">A.</span>ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。
          </div>
        </div>
      </section>

      <section class="bg-blue-100 mt-10 mb-10">
        <div class="lg:py-16 py-8">
          <%= link_to "無料会員登録はこちら" ,"/users/sign_up",class: 'block text-1xl font-bold text-center text-white bg-blue-600 lg:w-3/12 w-6/12 min-w-300 m-auto pt-5 pb-5 rounded-3xl' %>
        </div>
      </section>
    </main>

    <%= render '/layouts/footer' %>

</body>
