<h2 class="text-center mb-3">お知らせ一覧</h2>

<table class="table  w-50 m-auto userTable ">
          <thead class="heading">
            <tr class="text-left">
              <th></th>
              <th></th>
              
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @news.each do |news| %>
              <tr class="text-left">
              <td><%= news.created_at.strftime('%Y年%m月%d日') %></td>
                <td><%= news.title %></td>
                
                <td><a href="/tops/news/<%= news.id %>" class="py-1 px-3 text-decoration-none">詳細</a></td>
                
              </tr>
            <% end %>
          </tbody>
        </table>