<div class="sideEdit">
        <div class="sideEditMain">
       
        <ul>
         <li><a href="/users/basicedit">基本情報</a></li>
          <li><a href="/users/edit">パスワード設定</a></li>
          <li><a href="/users/bankedit">口座設定</a></li>
          <li><a href="/users/invitation/new">友達を招待する</a></li>
          <li><a href="/users/destroy">退会ご希望の方はこちら</a></li>
        </ul>
        </div>
      </div>