<div class="sideEdit">
        <div class="sideEditMain">
       
        <ul>
        <li><%= link_to "マイページへ戻る" ,"/users/mypage/#{current_user.id}" %></li>

         <li><a href="/users/<%= current_user.id %>/basicedit" class="text-decoration-none">基本情報</a></li>
          <li><a href="/users/edit" class="text-decoration-none">パスワード設定</a></li>
          <li><a href="/users/<%= current_user.id %>/basicedit#bankArea" class="text-decoration-none">口座設定</a></li>
          
        </ul>
        </div>
      </div>