
<body class="complete">
  <div class="completeArea">
    <div class="logo">
    <%= image_tag "logo.jpg",class:"completeLogo" %>
    </div>

    <div>
    <h1 class="complete">登録完了しました！</h1>
    <p class="text-center">この度はパラキャリにご登録いただきまして、誠にありがとうございます。</p>
    </div>

    <div class="toTop">
    <%= link_to "< トップへ戻る", "/tops/index",class:"button" %>
    </div>
  </div>
</body>