<body class="userEdit">
 <%= render '/layouts/header' %>
<div class="editWrap">
      <%= render 'editside' %>
      <div class="mainEdit">
        <div class="edit-page">
              <div class="formEdit">
             

                  <h2 id="bankEdit">パラキャリの退会をご希望の方へ</h2>
                  <ul>
                  <li class="caution1">※退会手続きは即時反映されます。</li>
                  <li class="caution2">※一度退会するとアカウントの復活はできません。</li>
                  </ul>


                    <%= button_to '退会する',user_registration_path, method: :delete, data: { confirm: '一度退会するとアカウントの復活はできません。よろしいですか？' },class:"button" %>


              </div>
              </div>
      </div>
</div>
</body>