
<body class="userMypage">
  <%= render '/layouts/header' %>
    <div class="title">
      <h1>マイページ</h1>
    </div>
    <div class="sidebar_main">
      <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
          <ul class="nano-content">
            <li class="user">
              <p class="images"></p>
              <p class="username">〇〇様</p>
              <li> <a href="/"><span>トップページへ</span></a> </li>
              <li><a href="/">プロフィール編集</a> </li>
              <li><a href="/l">sample</a> </li>
              <li><a href="/l">sample</a> </li>
              <li><a href="/">sample</a> </li>
              <li><a href="/">sample</a> </li>
              <li><a href="/">ログアウト</a> </li>
              <li><a href="/">退会</a> </li>
          </ul>
          </li>
          </li>
          </ul>
          </li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="post-main">
      <div class="post-list-all">
        <div class="post-list">
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
              <h1 class="card-title"></h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
        </div>
      </div>
</body>
