
<body class="userMypage">
<%= render '/layouts/header' %>
    
    <div class="sidebar_main ">
      <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
          <ul class="nano-content">
            <li class="user">
              <li> <a href="/tops/index"><span>トップページへ</span></a> </li>
              <li><a href="/users/basicedit">プロフィール編集</a> </li>
              <li><a href="/posts/index">案件一覧</a> </li>
              <li><a href="/">ログアウト</a> </li>
              <li><%= link_to "退会ご希望の方はこちら" ,"/users/destroy/#{current_user.id}" %> </li>
          </ul>
          </li>
          </li>
          </ul>
          </li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="post-main">
         
        
      <div class="post-list-all">
        <div class="post-list">

          <section class="card pt-3">
          <a href="/users/basicedit" class=" font-bold">
          <div class="text-center">
          <img class="" src="https://img.icons8.com/office/64/000000/settings.png"/>
          </div>
            
            
              <h1 class="card-title border-bottom pb-4 ">マイプロフィール</h1>
              <div class="card-content">
                <p class="card-text p-3">プロフィールの確認・編集はこちら！</p>
              </div>
            </a>
          </section>



          <section class="card pt-3">
            <a href="/progresses/index" class=" font-bold">
            <div class="text-center">
            <img src="https://img.icons8.com/dusk/64/000000/in-progress.png"/>
            </div>
              <h1 class="card-title border-bottom pb-4 ">進捗状況</h1>
              <div class="card-content">
                <p class="card-text p-3">口コミ後の進捗状況を確認してみよう！</p>
              </div>
            </a>
           
          </section>


          <section class="card pt-3">
            <a href="/tops/news" class=" font-bold">
            <div class="text-center">
            <img src="https://img.icons8.com/office/64/000000/appointment-reminders--v1.png"/>
            </div>
              <h1 class="card-title border-bottom pb-4 ">お知らせ</h1>
              <div class="card-content">
                <p class="card-text p-3">パラキャリからのお知らせを見てよう！</p>
              </div>
            </a>
           
          </section>
          <section class="card pt-3">
            <a href="/posts/index" class=" font-bold">
            <div class="text-center">
            <img src="https://img.icons8.com/dusk/64/000000/contract-job.png"/>
            </div>
              <h1 class="card-title border-bottom pb-4 ">案件一覧</h1>
              <div class="card-content">
                <p class="card-text p-3">豊富な案件はこちら！口コミをしてみよう！</p>
              </div>
            </a>
           
          </section>
          <section class="card pt-3">
            <a href="/users/invitation/new" class=" font-bold">
            <div class="text-center">
            <img src="https://img.icons8.com/dusk/64/000000/friends.png"/>
            </div>
              <h1 class="card-title border-bottom pb-4 ">友人を招待する</h1>
              <div class="card-content">
                <p class="card-text p-3">パラキャリを一緒にする仲間を招待しよう！招待するとメリットも！</p>
              </div>
            </a>
           
          </section>
          <section class="card ">
            <a href="https://page.line.me/892qodsr?openQrModal=true" class=" font-bold">
            <div class="text-center">
            <img src="https://img.icons8.com/plasticine/75/000000/line-me.png"/>
            </div>
              <h1 class="card-title border-bottom pb-4 ">LINEお問い合わせ</h1>
              <div class="card-content">
                <p class="card-text p-3">気になることがあればLINEで問い合わせてみよう！</p>
              </div>
            </a>
           
          </section>
        </div>
      </div>
  
</body>

