<body class="userMypage">
 <%= render '/layouts/header' %>
 <div class="title">
<h1>マイページ</h1>
</div>
<div class="sidebar_main">
<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a href="/"><span>トップページへ</span></a>
      </li>
          <li><a href="/">プロフィール編集</a>
          </li>
          <li><a href="/l">sample</a>
          </li>
          <li><a href="/l">sample</a>
          </li>
          <li><a href="/">sample</a>
          </li>
          <li><a href="/">sample</a>
          </li>
          <li><a href="/">ログアウト</a>
          </li>
          <li><a href="/">退会</a>
          </li>
  
        </ul>
      </li>
      </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
</div>
 </body>