
<body class="userMypage">
<%= render '/layouts/header' %>
    
    <div class="sidebar_main ">
      <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
          <ul class="nano-content">
            <li class="user">
              <li> <a href="/tops/index"><span>トップページへ</span></a> </li>
              <li><a href="/users/basicedit">プロフィール編集</a> </li>
              <li><a href="/posts/index">案件一覧</a> </li>
              <li><a href="/">ログアウト</a> </li>
              <li><%= link_to "退会ご希望の方はこちら" ,"/users/destroy/#{current_user.id}" %> </li>
          </ul>
          </li>
          </li>
          </ul>
          </li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="post-main">
         
        
      <div class="post-list-all">
        <div class="post-list">
          <section class="card">
          <img src="https://img.icons8.com/office/64/000000/settings.png"/>
            <a href="/users/basicedit" class=" font-bold">
            
              <h1 class="card-title border-bottom text-left">マイプロフィール</h1>
              <div class="card-content">
                <p class="card-text">メールアドレス・パスワード・銀行口座の確認・編集</p>
              </div>
            </a>
          </section>



          <section class="card">
            <a href="/progresses/index" class=" font-bold">
            <img src="https://img.icons8.com/dusk/64/000000/in-progress.png"/>
              <h1 class="card-title">進捗状況</h1>
              <div class="card-content">
                <p class="card-text">口コミ後の進捗状況を確認</p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a href="/users/news" class=" font-bold">
            <img src="https://img.icons8.com/office/64/000000/appointment-reminders--v1.png"/>
              <h1 class="card-title">お知らせ</h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
            <img src="https://img.icons8.com/dusk/64/000000/contract-job.png"/>
              <h1 class="card-title">案件一覧</h1>
              <div class="card-content">
                <p class="card-text">案件</p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
            <img src="https://img.icons8.com/dusk/64/000000/friends.png"/>
              <h1 class="card-title">友人を招待する</h1>
              <div class="card-content">
                <p class="card-text">パラキャリを一緒にする仲間を招待しよう<br>招待するとメリットも！</p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
          <section class="card">
            <a class=" font-bold">
            <img src="https://img.icons8.com/plasticine/64/000000/line-me.png"/>
              <h1 class="card-title">LINEお問い合わせ</h1>
              <div class="card-content">
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </a>
            <div class="card-link"> <a class=" bont-bold"></a> </div>
          </section>
        </div>
      </div>
  
</body>

