<h1>お知らせを編集する</h1>

<%= render 'form', news: @news %>

<div class="toTop">
<%= link_to '削除', @news, method: :delete,class:"deletebtn", data: { confirm: 'Are you sure?' } %>
<%= link_to '一覧に戻る', news_index_path %>
</div>
