
<div class="provider-index">
<div class="side">
<%= render '/works/side' %>
</div>

<div class="bg_pattern Paper_v2">
<div class="providers">
<h1>お知らせを作成する</h1>

<%= render 'form', news: @news %>

<%= link_to '一覧に戻る', news_index_path %>

</div>
</div>
</div>
