<div class="provider-index">
<div class="side">
<%= render '/works/side' %>
</div>

<div class="providers">
<p>
  <strong>タイトル:</strong>
  <%= @news.title %>
</p>

<p>
  <%= auto_link(simple_format(@news.content), html: {target: '_blank'}) %>
</p>
</div>