
<body class="complete">
  <div class="completeArea">
    <div class="logo">
    <%= image_tag "logo.jpg",class:"completeLogo" %>
    </div>

    <div>
    <h1 class="complete">送信完了しました！</h1>
    <p class="text-center">この度はパラキャリをご利用いただきまして、誠にありがとうございます。</p>
    <p class="text-center">ご入力いただいた情報は無事に送信されました。</p>
    </div>

    <div class="toTop">
    <%= link_to "< トップへ戻る", "/tops/index",class:"button" %>
    </div>
  </div>
</body>