<body class="devise">
<%= render '/layouts/header' %>
<div class="login-page">
  <div class="formSession">

<h2>副業希望者を紹介する</h2>
<p>お客様ID:</p>
<p><%= current_user.affiliater_id %></p>

<p>紹介する人</p>

<p>ご自身の紹介コードをお知り合いに登録時に入力いただければ、紹介した人の報酬の10%が永続的に支払われます。
このキャンペーンはオープンキャンペーンとなりますので、お早めにご活用いただくことをオススメします！</p>

<p>紹介された人</p>

<p>紹介コードを入力したら初回報酬振込時に1,000円が振り込まれます。ご紹介時にお友達にお伝えください。</p>

</div>
</div>
<%= render '/layouts/footer' %>
</body>