<body class="devise">
<%= render '/layouts/header' %>
<div class="login-page">
  <div class="formSession">

<h2>副業希望者を紹介する</h2>
<p>お客様ID:</p>
<p><%= current_user.affiliater_id %></p>

</div>
</div>
</body>