
@media (min-width: 710px){
.complete{

  .completeArea{
    margin-top: 100px;
  }

  .logo{
    text-align: center;
  }
.completeLogo{
  
  width: 100px;
  height: 100px;
  
}
.toTop{
  width: 100%;
  text-align: center;
  margin-top: 50px;

  a{
    color: white;
  }
  .button{
    padding-left: 40px;
    padding-right: 40px;
  }
}

}
}

@media (max-width: 709px){
.complete{

  .completeArea{
    margin-top: 100px;
  }

  .logo{
    text-align: center;
  }
.completeLogo{

  width: 100px;
  height: 100px;
  
}

p{
  width: 80%;
  margin: 0 auto;
}
.toTop{
  width: 100%;
  text-align: center;
  margin-top: 50px;

  a{
    color: white;
  }
  .button{
    padding-left: 40px;
    padding-right: 40px;
  }
}

}

}