@media (min-width: 710px) {

  .deviseInvite{
  background-image: url(talk.jpg);
  background-size: cover;   
  background-repeat: no-repeat;

  
}


  .Backblack{
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
  }
  .inviteArea{
    padding-top: 200px;
    color: white;
   
  
  .invitePhrase{
    text-align: center;
    p{
      font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
      font-size: 18px;
      
      padding:5px;
    }
  }

  h1{
    font-weight: 600;
    padding-bottom: 30px;
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }

  h2{
    font-weight: 600;
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }

  h1 span{
    border-bottom: 5px solid #ff5a3d;
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }
}
p span{
  font-weight: 600;
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.inviteImages{
  height: 250px;
  margin-top: 30px;
  margin-bottom: 50px;
 
  .orangeBack{
    position: relative;
    background-color: rgba(253,131,71,0.9);
    background-size: cover;
    height: 250px;
    width: 70%;
    margin: 0 auto;

    p span{
      position: absolute;
      color:white;
      background-color: #ff5a3d;
      padding: 5px;
      margin: 20px;
      font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    }
  }
  
}

.formArea{
  h3{
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }

  .formSet{
    width: 40%;
    margin-bottom: -20px;
  }
}

.formSetInvite{
  width:40%;
  margin: 0 auto;


.text-left{
  padding-bottom: 8px;
}
.button{
  margin-top: 40px;
  margin-bottom: 100px;
}
}
}

@media (max-width: 709px) {

    .deviseInvite{
    background-image: url(talk.jpg);
  }
  .Backblack{
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .inviteArea{
    width: 90%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    background-color: white;
    
    border-radius: 0.75rem;
  
  .invitePhrase{
    text-align: center;
    p{
      width:80%;
      margin: 0 auto;
      padding-bottom: 15px;
      text-align: left;
    }
  }

  h1{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
  }

  h2{
    font-size: 18px;
    font-weight: 600;
  }

  h1 span{
    border-bottom: 5px solid #ff5a3d;
  }
}
p span{
  font-size: 12px;
  font-weight: 600;
}

.inviteImages{
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-size: cover;   
  background-repeat: no-repeat;
  .orangeBack{
    position: relative;
     background-color: rgba(253,131,71,0.7);
    background-size: cover;
    height: 300px;

    p span{
      position: absolute;
      color:white;
      background-color: #ff5a3d;
      padding: 5px;
      margin: 20px;
    }
  }
  
}

.formSet{
  width:80%;
  margin-bottom: 0px;

.text-left{
  padding-bottom: 8px;
}
.button{
  margin-top: 20px;
}
}

.formArea{
  h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
  }
}

.formSetInvite{
  width:80%;
  margin: 0 auto;


.text-left{
  padding-bottom: 8px;
}
.button{
}
}
}

