@media (min-width: 710px) {

  .deviseInvite{
    background-color: #F3F3F6;
  }
  .inviteArea{
    width: 70%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 150px;
    border-radius: 0.75rem;
  
  .invitePhrase{
    text-align: center;
    
  }

  h2{
    font-weight: 600;
    padding-bottom: 20px;
  }

  h3{
    font-weight: 600;
  }

  h2 span{
    border-bottom: 5px solid #ff5a3d;
  }
}
p span{
  font-weight: 600;
}

.inviteImages{
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("talk.jpg");
  background-size: cover;   
  background-repeat: no-repeat;
  .orangeBack{
    position: relative;
     background-color: rgba(253,131,71,0.7);
    background-size: cover;
    height: 300px;

    p span{
      position: absolute;
      color:white;
      background-color: #ff5a3d;
      padding: 5px;
      margin: 20px;
    }
  }
  
}

.formSet{
  width:50%;
}

.text-left{
  padding-bottom: 8px;
}
.button{
  margin-top: 20px;
}
}

@media (max-width: 709px) {

}