header {
  left: 0;
  z-index: 9;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);


.header-logo{ 
  width: 10%;
  .logoImages{

    width: 40px;
    height: 40px;
  }
a{
  text-decoration: none;
  color: #666;
}
}

  .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }




  

  @media (min-width: 710px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media (min-width: 710px) {
    .nav__wrapper {
      display: flex;
    }
  }

  @media (max-width: 709px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      
    }

    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 710px) {
    .display-none {
      display: none;
    }
  }

  .header-logo{ 
  width: 10%;
    text-align: center;
}

  li.nav__item {
    background-color: #fff;
  }

  .nav__item a {
    display: block;
    padding: 1rem 1rem;
    letter-spacing: 0.04em;
    color: #484c4c;
    font-weight: 800;
    font-size: 14px;
  }

  .h-reg a {
    margin-right: 33px;
    font-size: 14px;
  }

  .h-list a:hover {
    background-color: #fcaf17;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-contact a:hover {
    background-color: #f58220;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-log a:hover {
    background-color: #f36c21;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-logout a:hover {
    background-color: #f32121;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-invite a:hover {
    background-color: #f39121;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-Myadmin a:hover {
    background-color: #f36421;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-mypage a:hover {
    background-color: #f37521;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  .h-reg a:hover {
    background-color: #fa4c4c;
    color: white;
    border-radius: 30px;
    font-size: 14px;
  }

  ul {
    list-style-type: none;
  }

  li{ 
  padding: 1rem;
  }

  .nav__toggle {
    display: none;
  }

  .UserInfo{
  visibility: visible;
  
 
  
}
input[type="checkbox"]:checked + .UserInfo{
  visibility:hidden;
  margin-top: 30px;
   z-index: 12;
  position: fixed;
  
  
}


 

  @media (max-width: 709px) {
    .menu-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
      background-color: white;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
      content: "";
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: black;
      position: absolute;
    }

    .menu-btn span:before {
      bottom: 8px;
    }

    .menu-btn span:after {
      top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(
        255,
        255,
        255,
        0
      ); /*メニューオープン時は真ん中の線を透明にする*/
    }

    #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
    }

    #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
    }

    #menu-btn-check {
      display: none;
    }

    .menu-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      background-color: white;
    }

    .menu-content ul {
      padding: 50px 10px 0;
    }

    .menu-content ul li {
      border-bottom: solid 1px black;
      list-style: none;
    }

    .menu-content ul li a {
      font-weight: 800;
      font-size: 16px;
      display: block;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      color: black;
      text-decoration: none;
      padding: 9px 15px 10px 0;
      position: relative;
      margin-top: 35px;
    }

    .menu-content ul li a:hover {
      display: block;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      color: white;
      text-decoration: none;
      padding: 9px 15px 10px 0;
      position: relative;
      border-radius: 3px;
    }

    .menu-content ul li a::before {
      content: "";
      width: 7px;
      height: 7px;
      border-top: solid 2px black;
      border-right: solid 2px black;
      transform: rotate(45deg);
      position: absolute;
      right: 11px;
      top: 16px;
    }

    .menu-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%; /*leftの値を変更してメニューを画面外へ*/
      z-index: 80;
      background-color: white;
      transition: all 0.5s; /*アニメーション設定*/
    }

    #menu-btn-check:checked ~ .menu-content {
      left: 0; /*メニューを画面内へ*/
    }
  }
}
