// Place all the styles related to the introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.introduction-new{
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #f87171;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #f59e0b;
    margin: 0;
}

.introduction-index{
  display: flex;
  width: 100%;
  padding-top: 80px;
  .side{
    width: 30%;
    margin: 0 auto;
  }
  .introductions{
    width: 70%;
    margin: 0 auto;
  }
}

.title{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.complete{
  color: black;
}
.introductionlink{
  
    color: black;
  
}