// Place all the styles related to the introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.toTop{
  a{
    color: black;
  }
}

.introduction-new{

    margin-top: 58px ;
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fa4c4c;
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ffbd41;


h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

p{
  color: white;
  font-size: 16px;
  text-align: center;
}

.title{
color: white;
}

form { 
  max-width:420px; margin:50px auto; 
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  
}

::placeholder {
  color: whitesmoke;
}
/* 旧Edge対応 */
::-ms-input-placeholder {
  color: whitesmoke;
}
/* IE対応 */
:-ms-input-placeholder {
  color: whitesmoke;
}

.feedback-input:focus { border:2px solid blue;
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#fff;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#484c4c;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
  background:rgb(192, 192, 192); 
}
}

.introduction-index{
  display: flex;
  width: 100%;
  padding-top: 100px;
  
  .introductions{
    width: 80%;
    margin: 0 auto;
  }

  .main_title{
    text-align: center;
    padding-bottom: 20px;
  }

  

  .posts_name{
    background-color: #82cddd;
  }

  .progressing{
    background-color: #f18681;
  }

  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .posts{
    border-bottom: solid 2px white;
    cursor: pointer;
  }

  .infos{
    border-bottom: solid 2px #d3d3d3;
    cursor: pointer;
  }

  table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
    line-height: 1;
  }

  table td{
    font-weight: 550;
    font-size: 13px;
  }

  table td a:hover{
    background: none;
    color: black;
  }

  .post_title_th{
    background: #d6eef8;
  }

  .post_progress_th{
    background: #F0D0D0;
  }

  .info_title{
    background:#696969;
    color: white;
  }

  .leave{
    margin-top: 150px;
  }
}


.workTitle{
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.complete{
  color: black;
  margin-bottom: 20px;
}

.introductionlink{
  
    color: black;
  
}

.check{
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

