// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-index{
   background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fa4c4c;
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ffbd41;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  .post-main{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    color: rgba(55, 65, 81, 1); 

     a{
    color: black;
    font-size: 14px;
    text-decoration:none;
    font-weight: 580;
  }
  }

  h1{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 30px;
    position: relative;
  }
 

  a:hover{
    color: black;
    font-size: 14px;
    text-decoration:none;
    font-weight: 550;
  }

  .post-list{
    	width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .card {
    width: 330px;
    min-height: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    position:relative;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 50px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
  }

  .card-title {
    font-size: 18px;
    color: #333;
    min-height:90px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    // text-decoration: underline;
    // text-decoration-color: #800000;
  }

  .card-content{
    border-top: 1px solid #eee;
  }

  .card-text {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 1.5;
    color:black;
  }

  .card-text :hover{
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 1.5;
    color:black;
  }

  .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }

  .card-link a {
    text-decoration: none;
    color: #0bd;
    text-align: center;
    margin: 0 10px;
  }

  .card-link a:hover {
    background-color:white;	
    color: #0090aa;
  }
  .card {
    position:relative;
    z-index:1;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.04);
    transition:transform 0.3s;
}
  
  .card::before {
        position:absolute;
        left:0;
        bottom:0;
        z-index:-1;
        display:block;
        width:100%;
        height:30px;
        content:"";
        background:radial-gradient(
            50% 30% at center center,
            rgba(0, 0, 0, 0.16),
            rgba(0, 0, 0, 0));
        transform:translate(0, 100%);
        transition:transform 0.3s, opacity;
    }
  
.card:hover {
    transform:translate(0, -15px);
}
  
    .card:hover::before {
        opacity:0.6;
        transform:translate(0, calc(100% + 20px)) scale(0.7);
    }


}


  .post-show{
    background-color: white;
    .office {
      width: 100%;
      margin-top: 100px;
      }
      .office th,
      .office td {
      border: 1px solid #ccc;
      padding: 20px;
      }
      
      .office th {
      font-weight: bold;
      background-color: #dedede; 
      }
      
      @media screen and (max-width: 767px) {
      .office,
      .office tr,
      .office td,
      .office th {display:block;}
      .office th {width:auto;}
      }
      .action{
        margin-top:30px;
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight:bold;
        color:#0bd;
       a{
        color: inherit;
        }
        a:hover{
          background-color:white;	
          color: #0090aa;
        }
      }
      }

      
        

   