// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.provider-index{
  display: flex;
  width: 100%;
  padding-top: 100px;



.providers{
  width: 60%;
  margin: 0 auto;

  a{
    color: black;
  }

 
  
}


h1{
  text-align: center;
}
}

