// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media (min-width: 710px) {
.provider-index{
  display: flex;
  width: 100%;


   .side{
      width: 20%;
      height: 100%;
      background-color: rgb(37,45,51);
      padding-top: 100px;
      padding-bottom: 400px;
      padding-left: 40px;
      
    .side-contents {
      margin: 2.5rem;
    }
    .glyphicon {
      color: white;
    }
    .nav-item {
      margin-bottom: 5px;
    }

      a {
      color: #fff; 
    background-color: rgb(37,45,51);
      }
      
    }


    .providers{
      width: 70%;
      margin: 0 auto;
      padding-top: 100px;

      .hoverwhite{
      
      a :hover{
        color: white;
        background-color: black;
      }

      }
      
  .button:hover,button:active,button:focus {
  background: #1a1a1a;
  color:white;
}

    }


    h1{
      text-align: center;
    }
}

.users{
      width: 90%;
      margin: 0 auto;
      padding-top: 100px;

      a{
        color: black;
      }
    }
  }

  @media (max-width: 709px) {
    
    .providers{
      width: 70%;
      margin: 0 auto;
      padding-top: 100px;
.hoverwhite{
      a{
        color: black;
      }

    a :hover{
      color: #fff; 
    background-color: rgb(37,45,51);
      }
      

    }
  }
}