

.buttons{
width: 90%;
margin: 0 auto;
list-style: none;
display: inline-block;
font-size: 14px;
}

.btn{
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(37,45,51);
}

.btn:hover {
  color: rgb(37,45,51);
  background: #fff;
  transition: 0.6s;
}

.btn:hover a{
  color: rgb(37,45,51);
  background: #fff;
  transition: 0.6s;
}
