@media (min-width: 710px) {

 #JoinFree{
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
    margin-bottom: 2.5rem/* 40px */;
    color: white;
  }

  #MemberWrap{
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem/* 32px */;
    color: white;
  }

  a{
        text-decoration: none;
        color: white;

      }

  .registerFor{
    display: block;
    font-weight: 700;
    text-align: center;
    --tw-text-opacity: 1;
    color: white;
    --tw-bg-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
    width: 25%;
    margin: auto;
    padding-bottom: 1.25rem/* 20px */;
    padding-top: 1.25rem/* 20px */;
    border-radius: 1.5rem/* 24px */;
 }

}

@media (max-width: 709px) {
 #JoinFree{
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
  }

  #MemberWrap{
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem/* 32px */;
    color: white;
  }

  a{
        text-decoration: none;
        color: white;

      }

  .registerFor{
    display: block;
    font-weight: 700;
    text-align: center;
    --tw-text-opacity: 1;
    color: white;
    --tw-bg-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1.5rem/* 24px */;


 }
}
