@media (min-width: 710px) {
#matterWrap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 56px;
    width: 90%;
    margin: 0 auto;
  }

  #matterCase1{
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 16rem/* 256px */;
    margin-bottom: 2rem/* 32px */;
    height: 16rem/* 256px */;
    border-radius: 1.5rem/* 24px */;
    box-shadow: 4px 4px 7px -2px #555,
  4px 4px 9px rgba(255,255,255,0.8) inset;
  }

  #Case1{
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  #Case1Title{
    text-align: center;
    font-weight: bold;
    padding: 1.25rem/* 20px */;
    font-size: 15px;
  }

  #Case1Content{
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  .CaseContentWord{
    padding: 12px;
  }

  #Case1Reward{
    width: 100%;
    margin: auto;
  }

  #Case1RewardWord{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }

  #matterCase2{
    border-width: 1px;
    height: 15rem/* 240px */;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 0px;
    width: 16rem/* 256px */;
    margin-bottom: 0px;
    height: 16rem/* 256px */;
    border-radius: 1.5rem/* 24px */;
    box-shadow: 4px 4px 7px -2px #555,
  4px 4px 9px rgba(255,255,255,0.8) inset;
  }

  #Case2{
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

          #Case2Title{
            text-align: center;
            font-weight: 700;
            padding: 20px;
            font-size: 15px;
          }
          #Case2Content{
          border-bottom: 1px dashed;
          width: 100%;
          margin: auto;
        }

        .Case2ContentWord{
          padding: 12px;
        }
          #Case2Reward{
          width: 100%;
          margin: auto;
        }

          #Case2RewardWord{
            text-align: center;
            font-size: 13px;
            font-weight: 600;
          }



        #matterCase3{
          margin: 0px;
          width: 256px;
          height: 256px;
          --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          border-radius: 1.5rem/* 24px */;
          box-shadow: 4px 4px 7px -2px #555,
  4px 4px 9px rgba(255,255,255,0.8) inset;
        }
          #Case3{
            border-bottom: 1px dashed;

            width: 100%;
            margin: auto;
          }
          #Case3Title{
            text-align: center;
            font-weight: 700;
            padding: 20px;
            font-size: 15px;
          }
          #Case3Content{
          border-bottom: 1px dashed;
          width: 100%;
          margin: auto;
        }

        .Case3ContentWord{
          padding: 12px;
        }
          #Case3Reward{
          width: 100%;
          margin: auto;
        }

          #Case3RewardWord{
            text-align: center;
            font-size: 13px;
            font-weight: 600;
          }

        #matterCase4{
          margin: 0px;
          width: 256px;
          height: 256px;
          --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          border-radius: 1.5rem/* 24px */;
          box-shadow: 4px 4px 7px -2px #555,
  4px 4px 9px rgba(255,255,255,0.8) inset;
        }
          #Case4{
            border-bottom: 1px dashed;
            width: 100%;
            margin: auto;
          }
          #Case4Title{
            text-align: center;
            font-weight: 700;
            padding: 20px;
            font-size: 15px;
          }
          #Case4Content{
          border-bottom: 1px dashed;
          width: 100%;
          margin: auto;
        }

        .Case4ContentWord{
          padding: 20px;
        }
          #Case4Reward{
          width: 100%;
          margin: auto;
        }

          #Case4RewardWord{
            text-align: center;
            font-size: 13px;
            font-weight: 600;
          }


        #SeeMoreWrap{
          padding-top: 32px;
        }

        
         .SeeMore{
          display: block;
          text-align: center;
          font-size: 20px;
          line-height: 28px;
          width: 40%;
          --tw-bg-opacity: 1;
          background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
          --tw-text-opacity: 1;

          margin: auto;
          padding-top: 12px;
          padding-bottom: 12px;
          border-radius: 1.5rem/* 24px */;

  
            color: white;
        
        }


        .top-page{
        .SeeMores a{
          color: white;
        } 
      }
 

}

@media (max-width: 709px) {
  #matterWrap{
   width: 85%;
   margin: auto;
 }

  .matter {
    margin-bottom: 80px;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }

  .HighUnitPrice {
    --tw-text-opacity: 1;
    color: rgba(245, 158, 11, var(--tw-text-opacity));
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }

  #matterCase1 {
    border: 1px;
    margin: 20px;
    height: 240px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 24px;
    margin-bottom: 60px;
  }

  #Case1 {
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  #Case1Title {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 15px;
  }

  #Case1Content {
   border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  .CaseContentWord {
   padding: 12px;
  }

  #Case1Reward {
    width: 100%;
    margin: auto;
  }

  #Case1RewardWord {
    padding: 14px;
    text-align: center;
  }

  #matterCase2 {
    border-width: 1px;
    margin: 20px;
    height: 240px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 32px;
    border-radius: 24px;
    margin-bottom: 60px;
  }

  #Case2 {
     border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  #Case2Title {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 15px;
  }

  #Case2Content {
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  .Case2ContentWord {
    padding: 12px;
  }

  #Case2Reward {
    width: 100%;
    margin: auto;
  }

  #Case2RewardWord {
    padding-top: 14px;
    text-align: center;
  }

  #matterCase3 {
     border-width: 1px;
    margin: 20px;
    height: 240px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 32px;
    border-radius: 24px;
    margin-bottom: 60px;
  }

  #Case3 {
    border-bottom: 1px dashed;

            width: 100%;
            margin: auto;
  }

  #Case3Title {
   text-align: center;
            font-weight: 700;
            padding: 20px;
            font-size: 15px;
  }

  #Case3Content {
    border-bottom: 1px dashed;
          width: 100%;
          margin: auto;
  }

  
 .Case3ContentWord{
     padding: 12px;
    }

  #Case3ReWard {
    width: 100%;
    margin: auto;
  }

  #Case3RewardWord {
    padding-top: 14px;
    text-align: center;
  }

  #matterCase4 {
     border-width: 1px;
    margin: 20px;
    height: 240px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 32px;
    border-radius: 24px;
 
  }

  #Case4 {
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  #Case4Title {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 15px;
  }

  #Case4Content {
    border-bottom: 1px dashed;
    width: 100%;
    margin: auto;
  }

  .Case4ContentWord {
    padding: 20px;
  }

  #Case4Reward {
    width: 100%;
    margin: auto;
  }

  #Case4RewardWord {
    padding-top: 14px;
    text-align: center;
  }

  #SeeMoreWrap{
          padding-top: 16px;
        }

        a{
          color: white;
        }

         .SeeMore{
           border-radius: 1.5rem/* 24px */;
          display: block;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
          width: 70%;
          --tw-bg-opacity: 1;
          background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
          --tw-text-opacity: 1;
          color: white;
          margin: auto;
          padding-top: 12px;
          padding-bottom: 12px;
          text-decoration: none;
        
        }

 
}
