// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.overflow-hidden {
  overflow: hidden;
}


@media (min-width: 710px) {



  body{
    margin:0;
     font-family: "Noto Sans JP", '游ゴシック','游ゴシック体';
  }

  footer{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    .footer-title{
      text-align: center;
      
      padding-bottom:30px;
      font-size: 20px;
    

    }
    .footer-list{
      text-align: center;
      padding-bottom:16px;
      ul{
        display: flex;
        width: 50%;
        margin: 0 auto;
        list-style: none;
        justify-content: space-evenly;
        a{
          text-decoration: none;
          color: #666;
        }
      }
    }
    .copyright{
  text-align: center;
    }
  }
  // Place all the styles related to the tops controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: https://sass-lang.com/




  .bg-gradient-to-l {
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fa4c4c;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ffbd41;
  }

  .mainWrap {
    display: flex;
  }


  .wideBalance {
    width: 80;
  }

  .mainMessege {
    line-height: 40px;
    font-size: 36px;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    margin: 0px;
    padding-top: 224px;
    padding-left: 60px;
    padding-bottom: 0px;
  }

  .subMessege {
    list-style-type: none;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-weight: 700;
    padding-top: 48px;
    padding-bottom: 146px;
    padding-left: 60px;
    font-size: 24px;
    line-height: 32px;
  }

  .subMessege1 {
    font-size: 24px;
    line-height: 32px;
  }

  .subMessege2 {
    font-size: 24px;
    line-height: 32px;
  }

  .videoMessege {
    width: 41.666667%;
    margin: auto;
  }

  iframe {
    width: 384px;
    height: 320px;
    padding: auto;
    margin: auto;
  }

 



  
  hr {
    display: none;
  }

  #pcStyle {
    text-align: center;
  }

  .otherMerit {
    --tw-text-opacity: 1;
    color: #000;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    padding-top: 100px;
    padding-bottom: 60px;

  }

  .otherMeritWrap {
    text-align: left;
    display: inline-block;
  }

 


  

  .matter{
    margin-bottom: 5rem/* 80px */;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }

  .HighUnitPrice{
    --tw-text-opacity: 1;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 2.5rem/* 40px */;
  }

  
      





  

.top-page{
  .registerFor{
    color: white;
  }
}
.main-solution{
  min-height: 48px;
}

.detail-text{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans JP", '游ゴシック','游ゴシック体';
}

.other-merit{
  font-weight: 700;
  font-size: 18px;
  line-height: 2.5;
}

.noRiskWord {
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
  font-weight: 580;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
  line-height: 32px;
}

.negative-word{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  font-family: "Noto Sans JP", '游ゴシック','游ゴシック体';
}

.matter-detail{
  font-weight: 600;
  font-size: 13px;
  line-height: 1.7;
}

.limit-1{
  min-height: 80px;
}

.limit-2{
  min-height: 100px;
}





}

@media (max-width: 709px) {

  body{
    margin: 0;
  }
header{

.header-logo{
  font-size: 16px;
  padding-top: 10px;
}
ul{
  list-style: none;
}

   a{
          text-decoration: none;
          color: #666;
        }
      }


  .mainWrap{
    height: 80vh;
    color: white;
    position: relative;
  .wide{
    margin: auto;
  
  .wideBalance{
    margin: auto;
    position: absolute;

  right: 0;
  bottom: 0;
  left: 0;
  top: 50%;
  margin: auto;
  margin-top: -70px ;
   
  }
    

    h1{
      text-align: center;
      font-size: 24px;
       
    }
   
    ul{
      list-style: none;
      display: inline-block;
     
      li{
        text-align: left;
       
      }
    }
  }
  }



    .bg-gradient-to-l {
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fa4c4c;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ffa641;
  }
 
   

  iframe {
    margin: auto;
    padding-bottom: 24px;
  }

 

  




 

 

  
 footer{
    background-color: white;
    .footer-title{
      text-align: center;
      padding-bottom:30px;
      font-size: 20px;

    }
    .footer-list{
      text-align: center;
      padding-bottom:16px;
       width: 90%;
       margin: 0 auto;
      ul{
        display: flex;
        padding-right:40px;
        margin: 0 auto;
        list-style: none;
        justify-content: space-evenly;
        font-size: 10px;
        a{
          text-decoration: none;
          color: #666;
        }
      }
    }
    .copyright{
  text-align: center;
    }
  }
}
