

@media (min-width: 710px) {
  #faq{
  --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
    padding-top: 5rem/* 80px */;

  }

  #FAQTitle{
  --tw-text-opacity: 1;
    color: #000;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 2.5rem/* 40px */;

  }

  #FAQWrap1{
    width: 60%;
    margin: auto;
    font-size: 1.2rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    padding-top: 1.25rem/* 20px */;
    padding-bottom: 2.5rem/* 40px */;
  }
  .Question{
    border-bottom: 1px dashed;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    padding-bottom: 1.25rem/* 20px */;
  }

  .Answer{
    padding-top: 1.25rem/* 20px */;
    font-size: 1.25rem/* 20px */;
    line-height: 1.625;
  }

  .Q{
    --tw-text-opacity: 1;
    color: blue;
  }

  .A{
    color: red;
  }
 
 
}
@media (max-width: 709px) {
  #faq {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
    padding-top: 80px;
  }

  #FAQTitle {
    --tw-text-opacity: 1;
    color: rgba(245, 158, 11, var(--tw-text-opacity));
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
 
  }

  #FAQWrap1 {
    width: 70%;
    margin: auto;
    font-size: 14px;
    line-height: 28px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .Question {
    border-bottom: 1px dashed;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    padding-bottom: 20px;
  }

  .Answer {
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.625;
  }

  .Q {
    color: blue;
  }
  .A{
    color:red;
  }
}
