// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 710px) {
  body {
    font-size: 100%;
    margin: 0;
    font-family: "ヒラギノ角ゴ ProN", sans-serif;
  }

  footer {
    background-color: white;
    .footer-title {
      text-align: center;
      padding-bottom: 30px;
      font-size: 20px;
    }
    .footer-list {
      text-align: center;
      padding-bottom: 16px;
      ul {
        display: flex;
        width: 50%;
        margin: 0 auto;
        list-style: none;
        justify-content: space-evenly;
        a {
          text-decoration: none;
          color: #666;
        }
      }
    }
    .copyright {
      text-align: center;
    }
  }
  // Place all the styles related to the tops controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: https://sass-lang.com/

  // ---------ここからメイン------------------
  .top-bg {
    background-image: url("talk.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    min-height: 100vh;
  }
  // .top {
  //   background-color: rgba(255, 255, 255, 0.7);
  //   backdrop-filter: blur(1px);
  //   min-height: 100vh;
  // }

  .top-catchcopy {
    color: #fff;
    padding-top: 30vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
  }

  .top {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    min-height: 100vh;
  }
  .phrase {
    animation-name: phraseAnimeBase;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0;
  }

  .p1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
  }

  .p2,
  .p3 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #fff;
  }

  .start-top {
    margin-top: 2rem;
    padding-left: 10%;
    display: flex;
  }

  a.btn-top {
    width: 220px;
    height: 60px;
    background-color: #eb6302;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    align-items: center;
  }
  a.btn-top:hover {
    opacity: 0.6;
  }

  @keyframes phraseAnimeBase {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  /*中の要素*/
  .bgappear {
    animation-name: phraseAnimeBase;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .phrase::before {
    animation-name: phraseAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /*伸びる背景色の設定*/
  }
  @keyframes phraseAnime {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.001% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  // -----------ここからメリット----------------------
  .mpextend {
    animation-name: mpextendAnimeBase;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden; /*　はみ出た色要素を隠す　*/
    opacity: 0;
    
  }

  @keyframes mpextendAnimeBase {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /*中の要素*/
  .mpappear {
    animation-name: mpextendAnimeSecond;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes mpextendAnimeSecond {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*左から右*/
  .mpLRextend::before {
    animation-name: mpLRextendAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /*伸びる背景色の設定*/
  }
  @keyframes mpLRextendAnime {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.001% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  .title{
    margin-top: 150px;
    margin-bottom: 90px;
    font-size: 40px;
  }
  .merit {
    padding-left: 20%;
    margin-bottom: 100px;
  }

  .merit-phrase {
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .merit-items {
    display: flex;
    flex-direction: column;
  }

  .merit-item {
    width: 40%;
    padding: 1% 3%;
    background-color: #fafafa;
    border-radius: 6px;
    letter-spacing: 0.05rem;
    box-shadow: 0 0 15px rgb(212, 212, 212);
    margin-bottom: 80px;
    h3 {
      font-weight: bold;
      font-size: 2.25rem;
      color: rgb(255, 84, 16);
      text-align: center;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      line-height: 1.7;
      text-align: left;
    }
  }
  .move {
    margin-left: 30%;
  }

  // --------ここから案件一覧---------------------------
  .Items-list {
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 100px 0 100px;
    background: #fceabb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      beige #fceabb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      beige,
      #fceabb

      
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;

    .subtitle{
        background: linear-gradient(
      to right,
      beige,
      #fceabb

      
    );
    padding-bottom: 70px;
      }
  }
  .Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }

  .Item {
    width: 23%;
    padding: 25px 25px 50px 25px;
    background-color: #fff;
    border-radius: 6px;
  }

  .Item-top {
    padding: 10px 0 10px;
  }

  .fa-hand-holding-heart,
  .fa-coins,
  .fa-building,
  .fa-file-alt {
    color: #b8860b;
    font-size: 30px;
  }

  .Item-title {
    color: #b8860b;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05rem;
    margin-top: 30px;
  }

  .border {
    border-bottom: 2px solid beige;
  }
  .Item-bottom {
    padding: 10px 10px 0;
    text-align: left;
    & p {
      font-size: 16px;
      line-height: 1.625;
    }
  }

  .toWorks{
    color: white;
    background-color: #EB630D;
    padding: 10px 20px 10px 20px;
    border-radius: 2rem;
  }

 
  .Item-reward span{
    font-size: 18px;
    color: rgb(255, 97, 49);
  }

  .SeeMore {
    margin-top: 100px;
  }

  .btn-more {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #EB630D;
    padding: 18px 30px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
  }
  .btn-more:hover {
    opacity: 0.6;
  }



  
  // ----ここから報酬獲得の流れ------------------
  .parent {
    .child {
      display: flex;
      justify-content: center;
    }
  }

.flex{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.stepOne{
  box-shadow:0px 0px 2px;
  border-radius: 0.5rem;
  width: 22%;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;

  
  h4{
    text-align: center;
    font-weight: bold;
  }

  span{
    color: white;
    font-weight: normal;
    padding: 3px;
    background-color: #ff9b3d;
  }

  .stepFooter{
    padding-top: 25px;
    font-size: 12px;
    text-align: center;
  }
}

.stepImage{
  width: 100%;
  height: 180px;
}



.arrow{
  width: 20px;
  margin: 0 auto;
  margin-top: 120px;
  height: 20px;
  border: 3px solid;
  border-color: #565656 #565656 transparent transparent;
  transform: rotate(45deg);
  justify-content: center;
}

  .subtitle {
    background-color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    // text-align: center;
    margin-bottom: 30px;
    // margin-left: 50%;
  }


  .reward-start {
    margin-bottom: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .btn-reward {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #EB630D;
    padding: 18px 30px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
  }
  .btn-reward:hover {
    opacity: 0.6;
  }
  // --------ここからFAQ---------------------------
  .FAQ {
    & .subtitle {
      margin-bottom: 60px;
    }
  }

  .FAQ-items {
    width: 100%;
    height: auto;
    display: grid;
    gap: 2em;
    align-content: flex-start;
    padding: 0 20%;
    margin-bottom: 200px;
  }

  .Q-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2em;
    margin-bottom: 10px;
  }

  .A {
    display: none;
  }

  label {
    display: block;
    background: #fff;
  }

  label:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  li {
    display: block;
    padding: 2em;
  }
.FAQ-item{
  input[type="checkbox"] {
    display: none;
  }
}
  #Q1:checked + .A1 {
    display: block;
  }
  #Q2:checked + .A2 {
    display: block;
  }
  #Q3:checked + .A3 {
    display: block;
  }
  #Q4:checked + .A4 {
    display: block;
  }

  #Q5:checked + .A5 {
    display: block;
  }

  // --------ここから利用者の声---------------

.Voices{
  padding-bottom: 100px;
}

  .flexVoice{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;

}

.Voice{
  box-shadow:0px 0px 2px;
  border-radius: 1rem;
  width: 28%;
  font-weight: bold;



  h4{
    text-align: center;
    font-weight: bold;
  }

 
  .comment{
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.625;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    color:#484c4c;
  }

 
    .feature{
      padding-left: 30px;
    }

}

.VoiceImage{
  width: 100%;

}

}

@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }

  * {
    float: none;
    position: static;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // ---------ここからメイン------------------
  .top-bg {
    background-image: url("talk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .top {
    padding-top: 30%;
  }

  .top-catchcopy {
    color: #fff;
    padding-top: 30vh;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .top {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    min-height: 100vh;
  }
  .phrase {
    animation-name: phraseAnimeBase;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
    opacity: 0;
  }

  .p1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
  }

  .p2,
  .p3 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #fff;
  }

  .start-top {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  a.btn-top {
    width: 30%;
    height: 7%;
    background-color: #eb6302;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: bold;
    padding: 3%;
    text-align: center;
  }
  a.btn-top:hover {
    opacity: 0.6;
  }

  @keyframes phraseAnimeBase {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  /*中の要素*/
  .bgappear {
    animation-name: phraseAnimeBase;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .phrase::before {
    animation-name: phraseAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /*伸びる背景色の設定*/
  }
  @keyframes phraseAnime {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.001% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  // -----------ここからメリット----------------------
  .mpextend {
    animation-name: mpextendAnimeBase;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden; /*　はみ出た色要素を隠す　*/
    opacity: 0;
  }

  @keyframes mpextendAnimeBase {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /*中の要素*/
  .mpappear {
    animation-name: mpextendAnimeSecond;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes mpextendAnimeSecond {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*左から右*/
  .mpLRextend::before {
    animation-name: mpLRextendAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /*伸びる背景色の設定*/
  }
  @keyframes mpLRextendAnime {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.001% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  .merit {
    padding-top: 200px;
    margin-bottom: 100px;
    padding-left: 15%;
  }

  .merit-phrase {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .merit-items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .merit-item {
    width: 80%;
    padding: 1% 3%;
    background-color: #fafafa;
    border-radius: 6px;
    letter-spacing: 0.05rem;
    box-shadow: 0 0 15px rgb(212, 212, 212);
    margin-bottom: 30px;
    h3 {
      font-weight: bold;
      font-size: 2.25rem;
      text-align: center;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      line-height: 1.7;
      text-align: left;
    }
  }

  // --------ここから案件一覧---------------------------
  .Items-list {
    margin-bottom: 100px;
    padding: 10% 0 10%;
    background: #fceabb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      beige #fceabb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      beige,
      #fceabb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
  }
  .Items {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 15%;
  }

  .Item {
    width: 80%;
    padding: 3%;
    margin-bottom: 3%;
    background-color: #fff;
    border-radius: 6px;
  }

  .Item-top {
    padding: 2% 0 2%;
  }

  .fa-hand-holding-heart,
  .fa-coins,
  .fa-building,
  .fa-file-alt {
    color: #b8860b;
    font-size: 2em;
  }

  .Item-title {
    color: #b8860b;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.05rem;
    margin-top: 1em;
  }

  .border {
    border-bottom: 2px solid beige;
  }
  .Item-bottom {
    padding: 10px 10px 0;
    text-align: left;
    & p {
      font-size: 14px;
    }
  }

  .SeeMore {
    margin-top: 60px;
  }

  .btn-more {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    padding: 18px 30px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
  }
  .btn-more:hover {
    opacity: 0.6;
  }

  // ----ここから報酬獲得の流れ------------------
  .parent {
    .child {
      display: flex;
      justify-content: center;
    }
  }

  .subtitle {
    background-color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .reward-flow {
    // margin: 50px 20%;
    display: flex;
  }

  .step-num {
    display: none;
  }

  .step-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: #fff;
    padding: 10px 7%;
  }

  .step-item {
    list-style: none;
    margin-bottom: 10%;
  }
  .step-title {
    font-weight: bold;
  }
  .step-content {
    margin-top: 10px;
    padding: 0 10px;
  }

  .reward-start {
    display: flex;
    justify-content: center;
  }

  .btn-reward {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    padding: 18px 30px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none !important;
  }
  .btn-reward:hover {
    opacity: 0.6;
  }
  // --------ここからFAQ---------------------------
  .FAQ {
    & .subtitle {
      margin-bottom: 60px;
    }
  }

  .FAQ-items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0 20%;
    margin-bottom: 200px;
  }

  .Q-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2em;
    margin-bottom: 10px;
  }

  .A {
    display: none;
  }

  label {
    display: block;
    background: #fff;
  }

  label:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  li {
    display: block;
    padding: 2em;
  }

  input[type="checkbox"] {
    display: none;
  }

  #Q1:checked + .A1 {
    display: block;
  }
  #Q2:checked + .A2 {
    display: block;
  }
  #Q3:checked + .A3 {
    display: block;
  }
  #Q4:checked + .A4 {
    display: block;
  }

  #Q5:checked + .A5 {
    display: block;
  }

  // --------ここから利用者の声---------------
  .Voices {
    padding: 0 10%;
    margin-bottom: 200px;
  }

  .Voice-user {
    text-align: center;
  }

  .user-info {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Voice-img {
    display: none;
  }

  .user-comment {
    padding: 0 5%;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 1.5;
    
    span {
      background: linear-gradient(transparent 60%, #ffff66 60%);
    }
  }
  .Voice-border {
    border-bottom: #d3d3d3 solid 1px;
    width: 100%;
    margin: 50px 0;
  }
}
