@media (min-width: 710px) {
.smartphoneContents{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
 

  h1{
    color: #000;
    font-size: 24px;
    padding-bottom: 30px;
  }
  p{
    color: #666;
    font-size: 18px;
    line-height: 2;
    font-family: "Noto Sans JP", '游ゴシック';
  }
}

.herf-left{
  width: 40%;
  margin: 0 auto;}

.herf-right{
  width: 40%;
  margin: 0 auto;
}

.picture{
  width: 60%;
  margin: 0 auto;
}

.pictureIphone {
    width: 240px;
    height: 240px;
  }
 
}
@media (max-width: 709px) {
  .herf-left{
  width: 80%;
  margin: 0 auto;
padding-bottom: 40px;}
  .picture{
  width: 70%;
  margin: 0 auto;
}
 .pictureIphone {
    width: 280px;
    height: 280px;
  }
}