.userEdit{
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fa4c4c;
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ffbd41;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
 

  .formSet .button{
    background-color: #ff5a3d;
    margin-bottom: 100px;
  }

  .formSet input{
    background-color: white;
    border:gray 2px solid;
  }

  .formSet textarea{
    background-color: white;
    border:gray 2px solid;
    border-radius: 1rem;
    width: 100%;
  }

  span{
    color: red;
  }
}

.flexKinds{
  display: flex;
  padding-top: 10px;
}

select#kinds{
  border:gray 2px solid;
    border-radius: 1rem;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.editWrap{
  display: flex;
  margin-top: 70px;
}

.sideEdit{
  width: 35%;
  padding: 8% 0 0;
  
  margin-left: 40px;
}

.sideEditMain{
   position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  ul{
    text-align: center;
    margin-right: 40px;
    
    

    li{
      text-align: left;
      font-size: 20px;
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;
       display: flex;
      align-items: center;
      i{
        margin-right: 20px;
      }
      
      a{
        color: black;
        display: inline-flex;
      }
      a:hover{
        background-color: rgba(0, 0, 0, 0);
      }
    }
    li:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

 
 
}

.mainEdit{
  width: 60%;
  margin-right: 30px;

   .caution1{
    color: red;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .caution2{
    color: red;
    text-align: left;
    padding-bottom: 60px;
  }
}


.edit-page {
  padding: 100px 0 0;
  width: 90%;
  margin: 0 auto;

}

.formSession {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 50%;
  margin: 0 auto 100px;
  margin-top: 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  font-weight: 600;

  h2{
    font-weight: 600;
    padding-bottom: 30px;
  }
}

.formEdit {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
}

.formSet{
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 20px;

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 1rem;
}
}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff5a3d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 1rem;
  margin-top: 30px;
  margin-bottom: 20px;
}