.userMypage {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #fa4c4c;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(248, 113, 113, 0));
  --tw-gradient-to: #ffbd41;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  height: auto;
  width: auto;
  margin: 0 auto;
  .title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 125px;
    color: aliceblue;
    h1 {
      font-weight: 600;
    }
  }
  .sidebar_main {
    padding-top: 5%;
    position: fixed;
    height: 100%;
    .sidebar-toggle {
      margin-left: -240px;
    }
    .sidebar {
      width: 220px;
      background: white;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 100;
      #leftside-navigation {
        ul, ul ul {
          margin: -2px 0 0;
          padding: 0;
        }
        ul {
          .user {
            height: 130px;
            list-style-type: none;
            padding-top: 20px;
            .images {
              margin-left: auto;
              margin-right: auto;
              background: green;
              /* 表示する画像 */
              width: 60px;
              /* ※縦横を同値に */
              height: 60px;
              /* ※縦横を同値に */
              border-radius: 50%;
              /* 角丸半径を50%にする(=円形にする) */
              background-position: left top;
              /* 横長画像の左上を基準に表示 */
              display: block;
              /* 複数の画像を横に並べたい場合 */
            }
            .username {
              padding-top: 10px;
              width: 130px;
              margin-left: auto;
              margin-right: auto;
              display: block;
              text-align: center;
              color: #333333;
              font-size: 17px;
            }
            // hover使いたい時はこれ使ってください
            // &:hover {
            //     color: white;
            //     background-color: orange;
            //   }
          }
          li {
            list-style-type: none;
            a {
              color: #aeb2b7;
              text-decoration: none;
              display: block;
              padding: 18px 0 18px 25px;
              font-size: 12px;
              outline: 0;
              -webkit-transition: all 200ms ease-in;
              -moz-transition: all 200ms ease-in;
              -o-transition: all 200ms ease-in;
              -ms-transition: all 200ms ease-in;
              transition: all 200ms ease-in;
              &:hover {
                color: white;
                background-color: orange;
              }
              span {
                display: inline-block;
              }
              i {
                width: 20px;
                .fa-angle-left, .fa-angle-right {
                  padding-top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}