<p><%= @resource.email %>様</p>

<p>いつもパラキャリをご利用いただきありがとうございます。</p>
<p>ご利用のパラキャリに対して、パスワードリセットのリクエストが先ほど行われました。この手続きを完了するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードの変更はこちら', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>今後ともよろしくお願いいたします。</p>
