<h1>掲載主から詳細を聞く</h1>
<p>あなたの連絡先が送られ掲載主から近日中に連絡が入ります。よろしいですか？</p>

<%= form_with(model: [@provider, @detail], local: true ) do |form| %>


  <div class="field">
    <%= form.label :具体的に聞きたい内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit"詳細を聞く" %>
  </div>
<% end %>

