

    <footer id="footer">
 
  <section class="secondary">
    <ul class="sitenavi">
      <li><a href="#">よくあるご質問</a></li>
      <li><a href="#">ユーザー設定</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
    <p class="copyright">Copyright © パラレルキャリア All Rights Reserved</p>
  </section>
   <ul class="sns-navi">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        </ul>
    
 
</footer>