  <footer class="bg-white pt-8">
      <div class="text-center pb-4 text-2xl">口コミ複業パラキャリ</div>
      <div class="pb-14 m-auto text-center lg:">
        <ul id="footer-nav" class="flex lg:w-5/12 w-11/12 m-auto lg:space-x-10 xl:space-x-6">
          <li class="text-center w-4/12 truncate m-auto"><a href="/tops/terms">利用規約</a></li>
          <li class="text-center w-4/12 overflow-visible overflow-ellipsis whitespace-nowrap m-auto"><a href="/tops/policy">プライバシーポリシー</a></li>
          <li class="text-center w-4/12 truncate m-auto"><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="text-center pb-5">
        <small>Copyright©パラレルキャリア All Rights Reserved</small>
      </div>
    </footer>